
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:700&text=01234567890pma:');

*
html, body, object, iframe, h1, h2, h3, h4, h5, h6, a, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, ul, li, p, div, span{ 
	margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; 
	-webkit-print-color-adjust: exact;
} 
	
@media print { body { -webkit-print-color-adjust: exact; background-color: black !important; } }	
	
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


@font-face {
  font-family: 'CTR';
  src: url('../fonts/CrimsonText/CrimsonText-Roman.ttf');
}

@font-face {
	font-family:'CTSBI';
	src: url('../fonts/CrimsonText/CrimsonText-SemiboldItalic.ttf');
}


body {
	background-color: black;
	/*overflow-x: hidden; */
	/*border:1px dashed red;*/

}
  
a {
	text-decoration:none;
}

.unselectable {
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	/*user-select: none;*/
	cursor:default;
}

.undragable {
	/*user-drag: none;*/ 
	-moz-user-select: none; -webkit-user-drag: none;
}

#freewall {
	/*border:1px dashed yellow;*/
}

#unstacked {
	color:white;
	/*background-color: black;*/
	font-family: 'Montserrat',Arial,Helvetica,sans-serif;
	font-weight:300;
	font-size:9pt; /* base font size! */
	width:100%;
	/*border:4px dashed yellow;*/
	
	box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

.antialias {
	text-rendering: optimizeLegibility;
  	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* font-weight: 700; << Montserrat Bold */

#unstacked #drawing {
	position:fixed;
	top:0;
	width:100%;
	height:100%;
	pointer-events: none;
}

#unstacked #status {
	position:fixed;
	bottom:5px;
	left:5px;
	z-index:101;
	pointer-events: none;
	width:100%
}

#stats {
	pointer-events: all;
}

#unstacked #status p {	
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	background-color: rgba(0,0,0,.5);
	padding:5px 5px;
}	
	
#unstacked #timeline {
	/*border:1px dashed red;*/
	position:fixed;
	bottom:10px;
	padding-left:10px;
	padding-right:10px;
	width:100%;	
}

#unstacked #timeline_labels {
	
}

#unstacked #timeline_canvas {
	/*border:1px dashed green;*/
	position:absolute;
	top:30px;
	opacity:0.8;
}

#unstacked #timeline_pos_canvas {
	/*border:1px dashed green;*/
	position:relative;
	top:0px;
}

#unstacked #playback_date {
	position:absolute;
	/*border:1px solid black;*/
	background-color: rgba(255,255,255,.8);
	padding: 2px 4px;
	top:0px;
	color:black;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

/* big enough to stop scrollbar thrashing */
/*#unstacked .free-wall {
	margin: 15px; 
}*/

#unstacked .card {
	/*	border:1px dashed red;*/
	overflow: hidden;
}

#unstacked .card canvas {
	width:100%; /* So it stretches out to fill */
	height:100%;
}

#unstacked .card_text_label {
	width:100%;
	background-color: rgba(0,0,0,.6);
	font-size:1.2em;
	position:absolute;
	bottom:0;
	/*z-index:1;*/
	padding:8px 10px 8px 10px; /*TRBL*/
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; /* so margins/padding dont effect width */
		
/*	word-wrap: break-word;*/
	white-space: nowrap; /* keeps it on one line */
	
	/*border:1px dashed cyan;*/
	
	/*-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto; */ /* or "manual" */	
}

#unstacked .card_text_label p {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

#unstacked .card_text_label p:not(:first-child) { /* line spacing */
	margin-top:2px;
}

#unstacked .card_text_label .debug_label{
	font-style:italic;
	font-family: "Courier";
	font-size:75%;
}

#unstacked .card_text_label .title{
	/*font-family: 'Montserrat';*/
	font-weight: 500;
}

#unstacked .card_text_label .date{

}

#unstacked .card img, #unstacked .card canvas{
	margin: 0;
}

#unstacked .cover p {
	/*font-family: 'Montserrat';*/
	font-weight: 500;
	font-size: 1.2em;
	padding: 1.0em 1.0em;
	/*border:1px dashed red;*/
	overflow: hidden;
  	/*word-wrap: break-word;*/

	/* Note: this only working in Safari and Chrome */
   display: -webkit-box;
  	max-height: 9em;
  	line-height: 1.3em;
 	-webkit-line-clamp: 5; /* number of lines to show */
	-webkit-box-orient: vertical;
	
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

/*-------------------------------------------------------------------*/

svg { /* sharpen edges */
	/*image-rendering: -moz-crisp-edges;       
	image-rendering:  -o-crisp-edges;         
	image-rendering: -webkit-optimize-contrast;*/
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
}

/*-------------------------------------------------------------------*/

#unstacked #u_overlay {
	width:100%;
	display: table;
	height:100%;
 	position:fixed;
	top:0;
	z-index:100;
	visibility:hidden;
}

#unstacked #u_overlay_bg {
	/*display: table;	*/
	width:100%;
	height:100%;
 	position:fixed;
	top:0;
	background-color:rgba(0,0,0,.75);
}

/* see: http://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers */ 

#u_overlay #loading_spinner {
	position:absolute;
	top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
	display:none;
}

#u_overlay #loading_spinner img { /* smooth mask spinner see:http://www.html5rocks.com/en/tutorials/masking/adobe/ */
	-webkit-clip-path: circle(49px at center);
	clip-path: circle(49px at center);
	/* may need and svg to do the middle hole too) */
}

#u_overlay_outer{
	display: table-cell;
	vertical-align: middle;
}

#details-card {
	height:1px;
	width:1px;
	/*display:table;*/
	background-color:rgba(192,192,0,.5);
	/*outline:2px dashed green;*/
	margin: 0 auto;
	position:relative;
	/*transition: width .2s ease 0s, height .2s ease .0s;*/
	overflow:hidden;
	transform:scale(0,0);
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.6);
}

#home-box {
	/*border:1px dashed white;*/
	visibility:hidden;
	font-family:'Montserrat';
	font-weight:500;
}

#home-box .credits {
	margin-top:0.3em;
	font-size:1.4em;
}

#home-box .credit_box {
	padding-top:0px;
	font-size:0.35em;	
	padding-left:1.5em;
}

#home-box .credit_box:first-child { 
	padding-left:0px;	
}

#home-box .credit_logo {
	font-size:0.66em;
}

#home-box h1{
	font-size:1.33em;
	/*border:1px dashed white;*/
}

#home-box h2{
	font-size:.87em;
	/*border:1px dashed pink;*/
	margin-top:0.1em;
}

#home-box h3{
	font-size:.66em;
}
#home-box .credits{
	/*border:1px dashed yellow;*/
}

#home-box svg {
	/*border:1px dashed green;*/
}

#home-box .credit_box:nth-of-type(2) svg  { /* DXlab */
	width:6.5em;
	/*height:6.5em;*/
	height: 100%;
	display:block;
}

#home-box .credit_box:nth-of-type(3) svg {	 /* SL */
	height:4.0em;
}

#home-box a:hover, #home-box a:active {
	color:black;
	cursor:pointer;
}

#home-box .credit_logo svg:hover, #home-box .credit_logo svg:active {
	fill:black;
}

#instruction-box {
	display:none;
	visibility:visible;
	background-color:#e34476;
	width:90%;
	max-width:540px;
	/*height:360px;*/
	min-height:360px;
	margin: 0 auto;
	position:relative;
	/*transform:scale(0,0);*/
	box-shadow: 0px 0px 62px 6px rgba(0,0,0,0.75);
	font-size:4.5em;
}

#instruction-box .copy {
	/*border:1px dashed white;*/
	padding: 1em .3em .3em .3em;
}

#instruction-box p{
	margin-bottom:0.5em;
	font-size:0.3em !important;
}

#instruction_close_icon {
	position:absolute;
	/*border:1px dashed lime;*/
	top:0.3em;
	right:0.3em;
	display:flex;
}

#instruction_close_icon svg {
	/*border:1px dashed purple;*/
	fill:white;
}

#instruction-box .footer {
	width:100%;
	height:60px;
	background-color:rgba(255,255,255,.9);
	bottom:0px;
	position:absolute;
}

#details-card #hero-img {
	visibility:hidden;
	height: 100%;
	width: auto;
}

#details-card .pub_details_cover_img {
/*	height: auto !important;
	width: auto !important;
	display: block;
    margin-left: auto;
    margin-right: auto*/
}

#details-card #details-no-image, #home-box  {
	width:100%;
	position:absolute;
	top:0;
	font-size:5em;
	padding: 1em 1em 1em 1em;
	
	/*padding:65px 51px 40px 40px;*/ /* TRBL was 70px 40px 40px 40*/	
	/* TODO: recalculate these as ems 
	 as ems using formula: size / base_font_size ; eg, 70/9=7.777777778 */
	/*padding:1.5554em .8888em .8888em .8888em;*/ /* above / 5 */	
	/* padding:1.5554em .8888em .8888em .8888em; */	
	/* GOOD CANDIDATE FOR SASS with all this em stuff*/
}

#details-card #details-big-text {
	/*font-family: 'Montserrat';*/
	font-weight: 500;
	margin-bottom: .555555556em; /* 20px == 5em/9px*/
	
	overflow: hidden;
  	/*word-wrap: break-word;*/

	/* Note: this only working in Safari and Chrome */
   display: -webkit-box;
  	max-height: 8em;
  	line-height: 1.1em;
 	-webkit-line-clamp: 5; /* number of lines to show */
	-webkit-box-orient: vertical;
	
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

#details-card #details-type {
	/*border: 1px dashed white;*/
	display:none;
}

#details-card #details-type h1 {
	font-size:0.3em;
}

#details-card #details-type .details-icon {
	background-color:rgba(255,255,255,.5);
	width:32px;
	height:32px;
	display:inline-block;
	/*outline:1px dashed black;*/
	margin-top:10px;
	margin-right:8px;
}

#details-card #details-labels {
	width:100%;
	min-height:90px; /* 10% */
	background-color:rgba(255,255,255,.9);
	color: black;
	font-size:1.2em;
	position:absolute;
	bottom:0;
	padding:9px 40px 10px 12px; /*TRBL*/
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; /* so margins/padding dont effect width */

/*	word-wrap: break-word;*/
	white-space: nowrap; /* keeps it on one line */
}

#details-link-anchor {
	display:inline-block;
	visibility:hidden;
	width:3em;
	height:3em;
	/*border: 1px dashed red;*/
	position:absolute;
	right:0;
	bottom:0;
	pointer-events:all;
	padding:10px 10px;
	cursor:pointer;
}

#details-link-anchor svg:hover {
	fill:#E44577;
} 
#details-link-anchor svg:active {
	fill:#E44577;
}

#details-labels p {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

#details-labels .heading{
	/*font-family: 'Montserrat';*/
	font-weight: 500;
	padding-right:6px;
}

/* ************************************ */

#u_menu {
	/* for when not in wall */
	position:absolute;
	top:0px; /* 10 */
	right:0px;
	z-index:99;
	display:none;		 
	border: 10px solid black;
	/*transition: width .5s ease, height .5s ease; */ /*,  transform .5s ease .33s, left .5s ease, top .5s ease;  */
}

.u_menu_sel {	
	background-color:rgba(65, 64, 66, 1); /*  #414042 rgba(26, 23, 24, .8);*/
	transition:width .3s ease 0s; /*, height .3s ease 0s;*/
	/*height:auto;*/
	/*border:1px dashed red;*/
	/*padding-top:21px;
	padding-bottom:21px;*/
	letter-spacing: 0.01em;
	width: 360px;
}

.u_menu_max {
	/*width: 360px;*/
}

.u_menu_min {
	/*width: 200px;*/
}

.u_menu_inner {
	/*border: 1px dashed lime;*/
	padding-top:21px;
	padding-bottom:21px;
}

.u_menu_header {
	padding-left:21px;
	padding-right:21px;
	/*border:1px dashed yellow;*/
	min-width: 200px;
}

.u_menu_border_shadows {
	-webkit-box-shadow: inset -5px -5px 7px 0px rgba(0,0,0,0.5), inset 5px 5px 7px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: inset -5px -5px 7px 0px rgba(0,0,0,0.5);
	box-shadow: inset 5px 5px 7px 0px rgba(0,0,0,0.5), inset -5px -5px 7px 0px rgba(0,0,0,0.5);
}

.u_menu_border_v_shadows {
	-webkit-box-shadow: inset 0px 1px 6px 0px rgba(0,0,0,0.2), inset 0px -1px 6px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px -1px 6px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 1px 6px 0px rgba(0,0,0,0.2), inset 0px -1px 6px 0px rgba(0,0,0,0.2);
}

.u_menu_border_v_bigger_shadows {
	-webkit-box-shadow: inset 0px 3px 6px 0px rgba(0,0,0,0.2), inset 0px -3px 6px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px -3px 6px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 3px 6px 0px rgba(0,0,0,0.2), inset 0px -3px 6px 0px rgba(0,0,0,0.2);
}

#u_menu_header_minimised {
	/*min-width: 200px;*/
	cursor:pointer;
	/*border:1px dashed green;*/
}

#u_menu_header_maximised {
	display:none;
	margin-bottom:17px;
	/*border:1px dashed green;*/
}

#u_menu_overlay {
	width: 100%;
	height: 100%;
	/*border: 1px dashed red;*/
	position: absolute;
	top: 0px;
	pointer-events: none;
}

.u_menu_header .text_shadow {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}

.u_menu_header .main_title {
	font-family:'Montserrat';
	font-weight:500;
	display:inline;
	font-size: 1.8em;
	color:#E44577;
	/*padding-bottom:10px;
	padding-top: 3px;*/
	letter-spacing: 0.075em;
	vertical-align:sub;
	/*border: 1px dashed yellow;*/
}

.u_menu_header .heading_text {
	/*border:1px dashed white;*/
	display:inline-block;
	vertical-align:middle;
	color:#ccc0c5; /*#E44577;*/
	padding-left:0.25em;
}

.u_menu_header .heading_text .main_title{
	/*border:1px dashed white;*/
/*	font-size: 1.6em;*/
	vertical-align:middle;
}

.u_menu_header .time_display {
	padding-top: 10px;
	color:#ccc0c5; 
}

.u_menu_header .time_stamp {
	display:inline-block;
	/*font-family: 'Montserrat';*/
	font-family: 'Anonymous Pro', monospace;
	font-weight: 700;
	letter-spacing: 0.01em;
	font-size: 1.3em;
}

.u_menu_header .tcolon {
	top:-1px;
	position:relative;
	letter-spacing: -0.05em;
}

.u_menu_header .tzone {
	padding-left:0.125em;
	display:inline-block;
	letter-spacing: 0.05em;
	font-size: 0.9em;
}

#u_menu_header_minimised .tzone {
	/*font-family: 'Montserrat';*/
	font-weight: 500;
}

#u_menu_header_maximised .tzone, #u_menu_header_maximised .date, #u_menu_header_maximised .time_stamp  {
	font-size: 1.2em;
	font-family: 'Montserrat' !important;
	font-weight: 500 !important;
	letter-spacing: 0.05em;
}

#u_menu_header_maximised .tzone {
	font-size: 0.9em;
	padding-left:0.2em;
}

.u_menu_header .date {
	display:inline-block;
}

.u_menu_header_button {
	display:inline-block;
	/*top:17px;
	right: 21px;
   position: absolute;*/
	vertical-align:middle;
	padding-right:6px;
	cursor:pointer;
	/*border:1px dashed red;*/
}

.u_menu_header_button svg {
	fill:#E44577;
	width:22px; /* 22 */
	/*border:1px dashed white;*/
	filter: drop-shadow( 0px 1px 3px #222 );
	-webkit-filter: drop-shadow( 0px 1px 3px #222 );
}

.u_menu_header_button svg:hover, .u_menu_header_button svg:active  {
	fill:white;
}

/* .u_menu_header_button  */
svg {
	transition: fill .1s ease 0s;
}

.u_menu_header .blurb {
	font-size:1.4em;
	font-family: 'CTSBI';
	
	/*font-family: 'CTR';
	font-style:italic;*/
	
	margin-top:8px;
	letter-spacing: 0.05em;
}

#u_menu_options {
	display:none;
	font-size:1.15em;
}

.u_menu_sel .row {
	line-height:3.5em;
	height:3.5em;
	padding-left:21px;
	padding-right:21px;
	
	overflow:hidden;
	white-space: nowrap; /* keeps it on one line */
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	
	transition: background-color .33s ease 0s, color .33s ease 0s;
}

#u_menu_options .ui_group_title {
	background-color:#231f20;
	font-family: 'CTR';
	font-size:1.3em;
}

#u_menu_options .clickable_row {
	background-color:#4d4d4d;
}

#u_menu_options .clickable_row:hover {
	background-color:#5d5d5d;
}

#u_menu_options .clickable_row:active {
	background-color:#404040;
	transition: background-color .1s ease 0s
}

#u_menu_options .selected_row {
	background-color:#333333;
	color: #e34476;
}

.u_menu_item_divider {
	border-bottom:1px solid #444;
}

/* how the pink chip is toggled */
.u_toggle_widget_svg use {
	transition: transform .6s ease 0s, opacity 100ms ease 0s;
	transform-origin:50% 50%;
}

.selected_row .u_toggle_widget_svg use:nth-child(2) {
	/*visibility:visible;*/
	opacity:1;
	transform:scale(1,1);
}

.clickable_row .u_toggle_widget_svg use:nth-child(2) {
	/*visibility:hidden;*/
	opacity:0;
	transform:scale(0,0);
}

#u_menu_options .row .label {
	display:inline-block;
	/*border:1px dashed yellow;*/
	padding-left:10px;
	padding-right:10px;
	/*vertical-align:text-bottom;*/
}

#u_menu_options .widget {
	display:inline-block;
	vertical-align: sub;
}

.u_menu_sel .section_title {
	background-color:#e34476;
	font-family:'Montserrat';
	font-weight:500;
	font-size:1.1em;
	cursor:pointer;
}

.u_menu_sel .section_title:hover {
	background-color:#d33466;
}

.u_menu_sel .section_title:active {
	background-color:black;
}

.u_menu_sel a {
	color:#ff3f80;
	text-decoration:none;
	cursor:pointer;
}

#u_menu_about {
	background-color:#333333;
	font-size:1.15em;
}

#u_menu_about p {
	margin:21px 21px;
	font-family: 'CTR';
	font-size:1.15em;
}

#u_menu_about .pemph {
	font-weight:bold;
}

#u_menu_about h1, #u_menu_about h2 {
	color:#ff3f80;
	font-family:'Montserrat';
	font-weight:500;
}

#u_menu_about h1 {
	margin:21px 21px;
	font-size:1.1em;
}

#u_menu_about h2 {
	
}

#u_menu_about .about_content {
	/*border:1px dashed yellow;*/   
	display: inline-block; /* this makes it fill space*/
}

#u_menu_about .about_footer {
	/*border:1px dashed white;*/
	background-color:#414042;
	width: 100%;
}

#palette_table {
	/*border:1px dashed yellow;*/
	margin:21px 21px 0px 21px;
	font-family:'CTR'; /* For some reason need to define family and size again, inherit not working*/
	font-size:1.15em;
}

#palette_table table {
	border-collapse: collapse;
}
#palette_table tr, #palette_table td {
	 padding: 0;
}

#palette_table tr:first-child td:first-child {
	border:1px solid #777;
}

#palette_table tr td:first-child {
	width:60px;
}

#palette_table .tr_spacer {
	height:.75em;
}

#palette_table tr td:nth-child(2) {
	padding-left:10px;
}

.pal_attrib {
	margin-top:16px !important;
	font-style:italic;
	color:#ccc;
}

.credits {
	/*border:1px dashed yellow;*/
	display: table;
	font-family:'Montserrat';
	font-weight:500;
}

.credit_box {
	display: table-cell;
	/*border:1px dashed white;*/
	padding: 21px 0px 0px 21px;	
}

.credits .credit_logo {
	/*padding-top:15px;*/
	margin-top:.8em;
	/*border:1px dashed black;*/
	width:100%;
	height:100%;
}

.credits .credit_logo a {
	/*border:1px dashed lime;*/
	display:inline-block;
}

.credit_box:nth-of-type(3) svg { /* SL */
	width:6.0em;
	height:4.5em;
}

.credit_logo a {
	color:white;
}

#tile_debug_canvas {
	position:fixed;
	top:100px;
	left:5px;
	opacity:.9;
	/*border:1px solid white*/
}

/* MEDIA QUERIES */

@media screen and (max-width:930px), (max-height: 720px) { 	
	#details-card #details-no-image {
		font-size:3em; 
	}
	#home-box {
		font-size:2.8em; 
	}
 	#instruction-box {
		/*font-size:3.8em; */
	}

	#home-box .credits{
		font-size:1.5em;
	}
}

@media screen and (max-width:500px), (max-height: 420px) { 	
	#details-card #details-no-image {
		font-size:2em;
	}
	#home-box {
		font-size:2.0em;
	} 
	#instruction-box {
		/*font-size:3.5em;*/
	}
	#home-box .credits{
		font-size:1.8em;
	}
}

/* big browser zoom outs */

/*@media screen and (min-width:2500px), (min-height: 2048px) { 	
	#details-card #details-no-image {
		font-size:7em;
	}
}

@media screen and (min-width:4500px), (min-height: 4048px) { 	
	#details-card #details-no-image {
		font-size:12em;
	}
}*/

/* Mobile specific */

@media only screen and (max-device-width: 480px) {
	#details-no-image {
		font-size: 2em !important;
	}
}


@media only screen  and (max-device-width: 640px),  only screen and (max-device-width: 667px),  only screen and (max-width: 480px) { 
	#home-box{	
		font-size:1.8em;
		/*border:4px dashed white;*/
	}
	
	#instruction-box {
		/*font-size:3em;*/
	}
	
	#home-box .credits{
		font-size:1.8em;
	}
	#details-card #details-labels {
		min-height:10% !important;
	}
}

/*
@media only screen and (max-device-width: 480px) and (orientation:portrait) {
	#unstacked .cover p {
		font-size:1.6em;
	}
	#unstacked .card_text_label {
		font-size:1.5em;
	}
	#details-card {
		font-size: 2em;
	}
	#details-no-image {
		font-size: 2em !important;
	}
	
}

@media only screen and (max-device-width: 480px) and (orientation:landscape) {
	#unstacked .cover p {
		
	}
	#unstacked .card_text_label {
		font-size:1.0em;
	}
	#details-card {
		font-size: 1.2em;
	}
	#details-no-image {
		font-size: 2em !important;
	}
}
*/

/* Misc */

::-webkit-scrollbar { width: 12px; height: 12px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 60px; background-color: #666; border-radius: 12px;}
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #666;}

/* IE */
body{
  scrollbar-base-color: #C0C0C0;
  scrollbar-3dlight-color: #C0C0C0;
  scrollbar-highlight-color: #FFC0C0;
  scrollbar-track-color: black;
  scrollbar-arrow-color: #C0C0C0;
  scrollbar-shadow-color: #C0C0C0;
}

